// src/Components/tripCard/tripCard.scss
@import "../../styles/colors";

.trip-card {
  width: 200px;
  height: 250px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  border: 4px solid $accent_color;
  border-radius: 20px;
  padding: 10px;
  background-color: $bg_color;
  &:hover {
    scale: 1.1;
  }

  &__image {
    border-radius: 20px;
    width: 100%;
    // aspect-ratio: auto;
  }

  &__name {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
  }

  &__controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 24px;

    &-info {
      color: $primary_color;
      &:hover {
        color: $accent_color;
      }
    }

    &-edit {
      color: $secondary_color;
      &:hover {
        color: $accent_color;
      }
    }

    &-delete {
      color: $warning_color;
      &:hover {
        color: $accent_color;
      }
    }
  }
}
